# ignore everything
*

# Except the following
!blue_bringup
!blue_localization
!blue_description
!blue_demos
!bubble_sensors
!blue.repos
!sim.repos
!.docker/
!.docker/entrypoints
!requirements-build.txt

# Allow GitHub Actions metadata files
!docker-metadata-action-*.json
!.github/
