<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="imu_gazebo" params="reference topic:=vn100_data frame_id:=imu_link">

    <gazebo reference="${reference}">
      <sensor name="vn100" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>${topic}</topic>
        <gz_frame_id>${frame_id}</gz_frame_id>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.00061086523</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.00004848136</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.00061086523</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.00004848136</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.00061086523</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.00004848136</bias_stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.013734</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.0003924</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.013734</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.0003924</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.013734</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.0003924</bias_stddev>
              </noise>
            </z>
          </linear_acceleration>
          <enable_orientation>true</enable_orientation>
        </imu>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
