<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="dvl_gazebo" params="reference topic:=/dvl/data_test">

    <gazebo reference="${reference}">
      <sensor name="dvl_sensor" type="custom" gz:type="dvl">
        <always_on>true</always_on>
        <update_rate>10</update_rate>
        <visualize>true</visualize>
        <topic>${topic}</topic>
        <gz:dvl>
          <type>phased_array</type>
          <arrangement degrees="true">
            <beam id="1">
              <rotation>45</rotation>
              <tilt>22.5</tilt>
            </beam>
            <beam id="2">
              <rotation>135</rotation>
              <tilt>22.5</tilt>
            </beam>
            <beam id="3">
              <rotation>225</rotation>
              <tilt>22.5</tilt>
            </beam>
            <beam id="4">
              <rotation>315</rotation>
              <tilt>22.5</tilt>
            </beam>
          </arrangement>
          <tracking>
            <bottom_mode>
              <range>
                <min>0.05</min>
                <max>50.0</max>
              </range>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.01</stddev>
              </noise>
            </bottom_mode>
          </tracking>
          <visual>
            <beam_visual>true</beam_visual>
          </visual>
        </gz:dvl>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
