<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="dvl_urdf" params="prefix parent *origin">

    <link name="${prefix}dvl_link">
      <inertial>
        <mass value="0.170" />
        <inertia
          ixx="0.00005514"
          ixy="0"
          ixz="0"
          iyy="0.00005514"
          iyz="0"
          izz="0.0000926"
        />
      </inertial>
      <visual name="dvl_link_visual">
        <geometry>
          <cylinder radius="0.033" length="0.025" />
        </geometry>
        <material name="dvl_material">
          <color rgba="0.8 0.2 0.2 1.0" />
        </material>
      </visual>
      <collision name="dvl_link_collision">
        <geometry>
          <cylinder radius="0.033" length="0.025" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}dvl_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}dvl_link" />
    </joint>

  </xacro:macro>
</robot>
